<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<div id="tweets" style="width: 400px; margin: 0 auto;">
<hr />
<% @tweets.each do |tweet| %>
    <%= render tweet %>
    <hr />
  <% end %>
</div>

<%= link_to "New tweet", new_tweet_path %>
